* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    display: flex;
    justify-content: right;
    margin-bottom: auto;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    background-size: auto;
    color: #ffffff;
}
header h1 {
    font-size: 48px;
    padding-right: 100px;
}
header h1 .seo {
    color: #d9dcd6;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: justify;   
}
header nav ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
        background-color: #2a607c;
    }
header nav ul li{
    float: left;
}
header nav ul li a {
    display: inline-block;
    overflow: hidden;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;      
}
a:link:hover{
    background-color: coral;
    cursor: crosshair;
}

/* this is the image of the meeting man*/
#hero {
    height: 800px;
    width: 100%;
    resize: horizontal;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    position: center;
}



/* the three floating images. i would like to figure out how to scale the image according to the size of the window*/

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* This is the test next to the floating pictures*/
p {
    font-size:16px;
    display: block;
}



section{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: inherit;
    background-color: #0072bb;
    color: #ffffff;
    overflow: auto;
}
.search-engine-optimization img {
    max-height: 200px;
    

}
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
    vertical-align: auto;
    
}    


.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    overflow: auto;
}
.online-reputation-management img {
    max-height: 200px;
}
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
    vertical-align: auto;
}


.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    overflow: auto;
}
.social-media-marketing img {
    max-height: 200px;
}
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
    vertical-align: auto;
}



/*aside section. trying to get it from falling down when adjusting window size*/

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: none;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    background-position: right;
    min-width: 10%;

    
    
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* I have changed the syntax*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
